<h2>Get product reviews</h2>

<form action="/products" method="post">
  <label for="product_id">Walmart product id</label><br>
  <input id="product_id" name="product[id]" /><br>

  <label for="product_filter">Filter</label><br>
  <input id="product_filter" name="product[filter]" /><br>

  <input type="submit" value="Send" />
</form>
