<h2>Get product reviews by title</h2>
<form action="/filters" method="post">
  <label for="product_name">Product name</label><br>
  <input id="product_name" name="product[name]" /><br>
  <input type="submit" value="Send" />
</form>
